@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
body {
  background: #000;
  color: #fff;
  line-height: 1.2;
  font-family: sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
  font-family: sans-serif;
  font-size: inherit;
  line-height: inherit;
}
button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
a {
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
.wrapper > * {
  min-width: 0;
}
[class*="__container"] {
  padding-inline: 15px;
}
.content_seo {
  max-width: 1500px;
  margin: 0 auto;
  padding-inline: 15px;
  padding-left: 200px;
}
.content_seo img {
  padding-block: 15px;
  max-width: 100%;
  height: auto;
}
.content_seo h3 {
  font-size: 26px;
  text-align: center;
}
.content_seo h4 {
  font-size: 22px;
  text-align: center;
}
.content_seo h3 {
  margin: 10px 0 5px;
}
.content_seo h4 {
  margin: 10px 0 5px;
}
.content_seo h2 {
  text-align: center;
  font-size: 32px;
  margin: 20px auto 20px;
}
.content_seo ol,
.content_seo ul {
  margin-block: 20px;
  padding-left: 15px;
}
.content_seo li {
  margin-bottom: 7px;
  list-style: unset;
}
main section {
  padding-block: 20px;
}
#anim {
  position: relative;
  transform-origin: center;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: default;
  transition: all ease-out 300ms;
}
#anim:hover {
  transition: transform ease 100ms;
}
.anim {
  padding-block: 0px;
  margin-top: 0;
  height: 100vh;
  overflow: hidden;
}
.anim__wrapper {
  position: relative;
  height: 100%;
  -webkit-transform: translate3d(0px, 0px, 50px);
  transform: translate3d(0px, 0px, 50px);
}
.anim__descr {
  width: 100%;
  pointer-events: none;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0px 0px 0px rgb(255, 255, 255));
  filter: drop-shadow(0px 0px 0px rgb(255, 255, 255));
  padding-top: 15%;
  max-width: 60%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, 80px);
}
.anim__descr h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: center;
}
.anim__descr p {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.2px;
}
.anim__back {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  top: 0;
}
.anim__back_box {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.anim__back_1 {
  z-index: -1;
  background-position: top;
  background-size: contain;
}
.anim__back_2 {
  background-position: top;
  background-size: contain;
  z-index: -3;
}
.anim__back_3 {
  -webkit-filter: brightness(0.45);
  filter: brightness(0.45);
  top: 15%;
  left: 50%;
  background-position: center;
  background-size: contain;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 400px;
  height: 500px;
  z-index: -2;
}
.anim__link {
  position: absolute;
  padding: 10px 50px;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 3px solid #ff0000;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.anim__link::after {
  content: "";
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 0, 60, 0.8470588235) 0,
    rgba(255, 0, 58, 0) 100%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  width: 90%;
  height: 50%;
  z-index: -1;
}
.anim__link:hover {
  -webkit-box-shadow: 1px 1px 20px #ff0000;
  box-shadow: 1px 1px 20px #ff0000;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.anim__link:hover::after {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.anim__link_scroll {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 60px;
}
.anim__link_scroll img {
  width: 100%;
  height: auto;
}
.toc {
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.toc.visible {
  height: auto;
  opacity: 1;
  visibility: visible;
  position: fixed;
  max-width: 190px;
  z-index: 3;
  top: 20px;
  left: 0;
  padding: 0 0 0 55px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.toc.visible .toc__nav {
  padding: 5px;
  border-radius: 5px;
}
.toc.visible .toc__link {
  max-height: 34px;
  overflow: hidden;
  line-height: 1.04;
  display: block;
}
.toc.visible .toc__item.active {
  position: relative;
  color: #ff0000;
}
.toc.visible .toc__item.active::after {
  content: "";
  position: absolute;
  width: 60px;
  top: calc(50% - 2px);
  left: -70px;
  height: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 90px 3px red;
  box-shadow: 0px 0px 9px 3px red;
}
.toc.visible .toc__item:not(:last-child) {
  margin-bottom: 12px;
}
.tns-outer {
  padding: 0 !important;
}
.tns-outer [hidden] {
  display: none !important;
}
.tns-outer [aria-controls],
.tns-outer [data-action] {
  cursor: pointer;
}
.tns-slider {
  -webkit-transition: all 0s;
  transition: all 0s;
}
.tns-slider > .tns-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tns-horizontal.tns-subpixel {
  white-space: nowrap;
}
.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}
.tns-horizontal.tns-no-subpixel:after {
  content: "";
  display: table;
  clear: both;
}
.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left;
}
.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%;
}
.tns-no-calc {
  position: relative;
  left: 0;
}
.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px;
}
.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  -webkit-transition: transform 0s, opacity 0s;
  -webkit-transition: opacity 0s, -webkit-transform 0s;
  transition: opacity 0s, -webkit-transform 0s;
  transition: transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s, -webkit-transform 0s;
}
.tns-gallery > .tns-slide-active {
  position: relative;
  left: auto !important;
}
.tns-gallery > .tns-moving {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.tns-autowidth {
  display: inline-block;
}
.tns-lazy-img {
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0.6;
}
.tns-lazy-img.tns-complete {
  opacity: 1;
}
.tns-ah {
  -webkit-transition: height 0s;
  transition: height 0s;
}
.tns-ovh {
  overflow: hidden;
}
.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}
.tns-transparent {
  opacity: 0;
  visibility: hidden;
}
.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}
.tns-normal,
.tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}
.tns-vpfix {
  white-space: nowrap;
}
.tns-vpfix > div,
.tns-vpfix > li {
  display: inline-block;
}
.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden;
}
.tns-t-ct {
  width: 2333.3333333%;
  width: -moz-calc(100% * 70 / 3);
  width: 2333.3333333333%;
  position: absolute;
  right: 0;
}
.tns-t-ct:after {
  content: "";
  display: table;
  clear: both;
}
.tns-t-ct > div {
  width: 1.4285714%;
  width: -moz-calc(100% / 70);
  width: 1.4285714286%;
  height: 10px;
  float: left;
}
.header {
  width: 100%;
  position: absolute;
  z-index: 2;
  padding: 30px 0;
  pointer-events: none;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  max-width: 300px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
  pointer-events: all;
  font-size: 30px;
  font-weight: 700;
}
.header__logo img {
  filter: brightness(0.8);
  height: auto;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.header__nav_wrapper,
.header__nav {
  pointer-events: all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 40px;
}
.header__nav-link {
  position: relative;
}
.header__nav-link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  width: 166%;
  height: 8px;
  -webkit-transition: -webkit-transform 0.1s ease-in;
  transition: -webkit-transform 0.1s ease-in;
  transition: transform 0.1s ease-in;
  transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
  background: radial-gradient(50% 50% at 50% 50%, #ff003a 0, rgba(255, 0, 58, 0) 100%);
}
.header__nav-link:hover::after {
  content: "";
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.header__btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  background-color: red;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.header__btn:hover {
  -webkit-box-shadow: 0px 0px 20px #ff0000;
  box-shadow: 0px 0px 20px #ff0000;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.footer {
  background: #242424;
  padding: 30px;
}
.footer__container {
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 30px;
}
.footer__logo {
  max-width: 200px;
  margin-right: 80px;
}
.footer__logo img {
  width: 100%;
  height: auto;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #6a6b6b;
  font-weight: 600;
  font-size: 18px;
}
.footer__nav_1 {
  margin-right: 100px;
}
.footer__nav_item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__nav_item:hover {
  color: #fff;
}
.footer__nav_2 {
  margin-right: 60px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.footer__rights {
  color: #6a6b6b;
  margin-top: auto;
  font-weight: 600;
  font-size: 12px;
  text-align: right;
}
.about {
  padding: 0;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.about__wrapper {
  position: relative;
  margin: 0 auto;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  max-width: 1500px;
}
.about__text_top {
  padding-top: 60px;
  padding-bottom: 15px;
}
.about__text_bot {
  padding-top: 15px;
  min-height: 450px;
  padding-bottom: 30px;
  position: relative;
  z-index: 2;
}
.about__text_bot::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: -500%;
  bottom: 0;
  width: 10000%;
  display: block;
  background-color: #09b1ac;
}
.about__text {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
  max-width: calc(50% - 100px);
}
.about__text p {
  margin-bottom: 20px;
}
.about__img {
  position: absolute;
  right: -15px;
  width: 70%;
  max-width: 750px;
  z-index: 3;
}
.about__img img {
  width: 100%;
  height: auto;
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}
.marquee {
  position: relative;
  z-index: 4;
  background-color: #09b1ac;
}
.marquee__container {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  padding-left: 150px;
  padding-block: 12px;
  white-space: nowrap;
  overflow: hidden;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.marquee__text {
  display: inline-block;
  padding-left: 0%;
  -webkit-animation: marquee 26s linear infinite;
  animation: marquee 26s linear infinite;
}
.marquee__text p {
  margin: 0 50px;
  max-height: 34px;
  overflow: hidden;
  font-size: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.slider {
  padding: 20px 0 80px;
  position: relative;
  z-index: 2;
  background-color: #09b1ac;
}
.slider__container {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 200px;
}
.slider__read-more {
  position: relative;
  display: block;
  width: 200px;
  font-size: 18px;
  padding: 15px;
  border: 3px solid #fff;
  border-radius: 10px;
  left: 20px;
  bottom: -30px;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}
.slider__read-more::after {
  content: "";
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.8470588235) 0,
    rgba(255, 0, 58, 0) 100%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  width: 90%;
  height: 50%;
  z-index: -1;
}
.slider__read-more:hover {
  -webkit-box-shadow: 1px 1px 20px #ffffff;
  box-shadow: 1px 1px 20px #ffffff;
  border-color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.slider__read-more:hover::after {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.slider__wrapper {
  padding-block: 30px;
}
.slider__slide {
  padding: 10px;
}
.slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider__btn img {
  width: 9px;
}
.slider__btn_wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  bottom: -30px;
  right: 30px;
}
.slider__btn_wrapper [aria-disabled="true"] {
  opacity: 0.3;
}
.slider__btn_next img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card {
  padding-bottom: 15px;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  transition: all ease-out 300ms;
}
.card:hover {
  transition: transform ease 100ms;
}
.card__image {
  position: relative;
  z-index: 2;
  max-width: 315px;
  height: 315px;
  margin-bottom: 20px;
}
.card__image img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.card__image_1 {
  z-index: -2;
}
.card__image_2 {
  z-index: -1;
  object-fit: contain;
}
.card__more {
  position: relative;
  font-size: 16px;
  font-weight: 600;
}
.card__more::after {
  content: "";
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.8470588235) 0,
    rgba(255, 0, 58, 0) 100%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  width: 140%;
  height: 110%;
  z-index: -1;
}
.card__more:hover::after {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.card__descr {
  padding: 10px 15px;
  margin-bottom: 10px;
}
.card__descr_title {
  font-size: 18px;
  margin-bottom: 5px;
}
.card__descr_text {
  margin-bottom: 10px;
  height: 51px;
  overflow: hidden;
}
.card__btn {
  padding: 10px;
  width: calc(100% - 30px);
  border-radius: 10px;
  display: block;
  margin: 10px 10px 0px 10px;
  background: #ff0000;
  pointer-events: all;
  font-weight: 800;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.card__btn:hover {
  -webkit-box-shadow: 1px 1px 20px 5px #ff0000;
  box-shadow: 1px 1px 10px 5px #ff0000;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.tns-nav,
.tns-liveregion.tns-visually-hidden {
  display: none !important;
}
.faq p {
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
}
.faq_item {
  padding: 12px;
  border: 1px solid #6e7085;
  border-radius: 8px;
  width: 100%;
  background-color: #006865;
}
.faq_item:not(:last-child) {
  margin-bottom: 12px;
}
.faq__title {
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 10px;
}
@media (max-width: 1220px) {
  .about__img {
    width: 50%;
  }
  .about__text {
    max-width: 46%;
  }
  .about__text_bot {
    min-height: 340px;
  }
}
@media (max-width: 1100px) {
  .anim__descr {
    padding-top: 13px;
    padding-top: 130px;
    max-width: 80%;
  }
}
.faq__container {
  padding: 0;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .content_seo {
    padding-left: 15px;
  }
  .anim__link {
    bottom: 5%;
  }
  .toc.visible {
    display: none;
  }
  .about__img {
    right: 0;
    padding-bottom: 20px;
    margin-top: -2px;
    position: relative;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__nav_wrapper,
  .header__nav {
    gap: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .about__img::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: -500%;
    bottom: 0;
    width: 10000%;
    display: block;
    background-color: #09b1ac;
  }
  .about__img img {
    max-width: 60%;
  }
  .about__text {
    max-width: 100%;
  }
  .about__text_bot {
    min-height: unset;
    padding-bottom: 30px;
  }
  .marquee {
    margin-top: -2px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    max-width: unset;
    margin-right: 0;
  }
  .footer__logo img {
    max-width: 200px;
  }
  .footer__nav {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer__rights {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
  }
  .about__wrapper {
    padding-left: 0;
  }
  .marquee__container {
    padding-left: 0;
  }
  .slider__container {
    padding-left: 0;
  }
  .slider__wrapper {
    padding-left: 0;
  }
}
@media (max-width: 800px) {
  .header {
    padding: 10px 0;
  }
  .header__container {
    padding: 10px 0;
    row-gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .anim__descr {
    padding-top: 130px;
    max-width: 80%;
  }
  .anim__descr h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .anim__back_3 {
    width: 350px;
    height: 450px;
  }
}
@media (max-width: 750px) {
  .slider__read-more {
    width: 300px;
    left: calc(50% + 7px);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .slider__btn_wrapper {
    display: none;
  }
}
@media (max-width: 475px) {
  .header__nav_wrapper {
    flex-direction: column;
  }
  .anim__link {
    display: none;
  }
  .anim__link_scroll {
    display: block;
  }
  .about {
    margin-top: 0px;
  }
  .anim__descr {
    padding-top: 0;
    padding-bottom: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
@media (max-width: 450px) {
  .anim__descr {
    padding-top: 0px;
    max-width: 95%;
  }
  .anim__descr h1 {
    font-size: 32px;
    line-height: 1.1;
  }
  .anim__descr p {
    font-size: 14px;
  }
  .anim__back_3 {
    top: 42%;
    width: 300px;
    height: 400px;
    transform: translateX(-50%) translateY(-50%);
  }
  .about__img {
    width: 100%;
  }
  .about__img img {
    max-width: 100%;
  }
}
@media (max-width: 426px) {
  .anim__wrapper {
    pointer-events: none;
  }
}
table {
  border: 1px solid #fff;
  margin: 10px auto;
}
table td,
table th {
  padding: 8px;
}
table tr {
  position: relative;
}
tbody tr:not(:last-child)::after,
thead tr::after {
  position: absolute;
  content: "";
  height: 1px;
  width: calc(100% + 4px);
  background-color: #fff;
  left: -2px;
  bottom: 0;
}
table th,
table td {
  position: relative;
}
table th:not(:first-child)::before,
table td:not(:first-child)::before {
  position: absolute;
  content: "";
  height: calc(100% + 2px);
  width: 1px;
  background-color: #fff;
  left: -2px;
  bottom: 0;
}
.table_big {
  max-width: 100%;
  overflow-x: auto;
  padding: 0px 5px;
}
.footer__rights span::before {
  content: "© ";
}
main {
  min-height: 100%;
}
