@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #231F20;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.gradient {
  visibility: hidden;
  position: absolute;
  top: -3000px;
}

.social__link {
  text-decoration: none;
}

.social__link path {
  -webkit-transition: fill 0.4s ease-in-out;
  -o-transition: fill 0.4s ease-in-out;
  transition: fill 0.4s ease-in-out;
}

.social__link:hover svg path:nth-child(1) {
  fill: url(#gradient);
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #231F20;
  padding: 4px 12px;
  border-radius: 48px;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  background: #F3F3F3;
}

.button.white {
  background: #fff;
}

.button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#3300CC), to(#E03616));
  background: -o-linear-gradient(left, #3300CC 0%, #E03616 100%);
  background: linear-gradient(90deg, #3300CC 0%, #E03616 100%);
  color: #fff;
}

.button:hover svg path {
  stroke: #fff;
}

.title {
  font-weight: 700;
  line-height: 1.14;
}

.title_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__decor {
  margin: 9px 0;
  display: inline-block;
  max-width: 544px;
  width: 100%;
  height: 46px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(224, 128, 92)), color-stop(29%, rgb(189, 66, 77)), color-stop(59%, rgb(166, 54, 103)), to(rgb(135, 74, 161)));
  background: -o-linear-gradient(left, rgb(224, 128, 92) 0%, rgb(189, 66, 77) 29%, rgb(166, 54, 103) 59%, rgb(135, 74, 161) 100%);
  background: linear-gradient(90deg, rgb(224, 128, 92) 0%, rgb(189, 66, 77) 29%, rgb(166, 54, 103) 59%, rgb(135, 74, 161) 100%);
}

.background {
  background: url("../img/main_bg.jpg") top/cover no-repeat;
}

.header__container {
  position: relative;
}

.header__top_wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  font-family: "Space Grotesk";
  font-weight: 400;
}

.header__logo img {
  width: 100%;
}

.header__social {
  position: relative;
  z-index: 4;
}

.menu__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  position: relative;
}

.menu__item:hover {
  background: -o-linear-gradient(12.32deg, #3300CC 0.13%, #E0168F 91.14%);
  background: linear-gradient(77.68deg, #3300CC 0.13%, #E0168F 91.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.menu__item:hover::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -2px;
  background: -o-linear-gradient(12.32deg, #3300CC 0.13%, #E0168F 91.14%);
  background: linear-gradient(77.68deg, #3300CC 0.13%, #E0168F 91.14%);
}

.social__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
}

.icon-menu {
  display: none;
}

.header-logo__img {
  pointer-events: none;
  position: absolute;
  left: -505px;
  z-index: 0;
}

.descr {
  max-width: 34rem;
  margin-bottom: 7.5rem;
  position: relative;
  z-index: 1;
}

.descr__title {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 1.1;
  font-weight: 700;
}

.descr__title::before {
  position: absolute;
  content: "";
  background: url("../img/icons/dot.svg") 0 0 no-repeat;
  width: 12px;
  height: 12px;
  left: -40px;
  top: 50%;
}

.social__items_gap {
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.footer {
  background: url("../img/footer_bg.jpg") left/cover no-repeat;
  font-weight: 400;
}

.footer__logo {
  margin-bottom: 23px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.footer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 384px;
          flex: 0 1 384px;
  font-size: 12px;
  line-height: 2;
}

.footer__text p:not(:last-child) {
  margin-bottom: 12px;
}

.footer__items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__europe-img {
  line-height: 2;
}

.footer__europe-text {
  max-width: 246px;
  font-size: 12px;
}

.footer__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 352px;
          flex: 0 1 352px;
}

.footer__img img {
  width: 100%;
}

.wrapper {
  background: url("../img/news-sing_bg.jpg") left 0 no-repeat;
}

.top-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-project__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57%;
          flex: 1 1 57%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-project__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  margin-left: -80px;
  min-width: 330px;
  max-width: 448px;
  max-height: 448px;
}

.top-project__img img {
  width: 100%;
  border-radius: 0px 8px 8px 0px;
  margin-top: -0.9375rem;
}

.top-project__descr {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-project__category span {
  padding: 1px 9px;
  color: #FFFFFF;
  background: #5D1495;
  border-radius: 24px;
}

.top-project__date {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.project__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
}

.project__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 500px;
}

.project__left-bar {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 31%;
          flex: 1 0 31%;
  min-width: 300px;
}

.bar-event {
  font-weight: 700;
}

.bar-event__title {
  font-size: 24px;
}

.event-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 35px;
}

.event-info__date {
  position: relative;
}

.event-info__date::after {
  content: url(../img/icons/event-calendar.svg);
  position: absolute;
  left: -36px;
  top: 0;
}

.event-info__date::before {
  display: none;
}

.event-info__time {
  position: relative;
}

.event-info__time::after {
  content: url(../img/icons/event-clock.svg);
  position: absolute;
  left: -36px;
  top: 0;
}

.event-info__time::before {
  display: none;
}

.event-info__location {
  position: relative;
}

.event-info__location::after {
  content: url(../img/icons/event-location.svg);
  position: absolute;
  left: -36px;
  top: 0;
}

.event-info__location::before {
  display: none;
}

.event-info__claster {
  position: relative;
}

.event-info__claster::after {
  content: url(../img/icons/event-cluster.svg);
  position: absolute;
  left: -36px;
  top: 0;
}

.event-info__claster::before {
  display: none;
}

.left-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left-bar__news-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}

.left-bar__title {
  font-weight: 700;
  font-size: 24px;
}

.left-bar__tags-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bar-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  max-width: 288px;
}

.bar-news__img img {
  border-radius: 8px;
}

.bar-news__title {
  font-weight: 700;
}

.tags__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 214px;
  gap: 8px;
}

.tags__wrapper a {
  border: 1px solid #231F20;
  border-radius: 24px;
  padding: 0 8px;
}

.tags__title {
  font-weight: 700;
  font-size: 24px;
}

.share__title {
  font-weight: 700;
  font-size: 24px;
}

.content {
  font-weight: 500;
}

.content h4 {
  font-weight: 700;
}

.content ul li {
  position: relative;
}

.content ul li::before {
  position: absolute;
  content: "";
  background: url("../img/icons/dot.svg") 0 0 no-repeat;
  width: 8px;
  height: 8px;
  top: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.content blockquote {
  position: relative;
  font-style: italic;
  font-weight: 400;
}

.content blockquote::before {
  position: absolute;
  content: "";
  background: url("../img/icons/bullet.svg") 0 0 no-repeat;
  width: 38px;
  height: 50px;
  left: -60px;
  top: 0;
}

.content cite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content cite span {
  font-size: 16px;
  color: #6F6F76;
}

.content__share {
  border-top: 1px solid #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__share ul .social__item {
  margin-left: 0;
}

.social__item::before {
  display: none;
}

.news {
  background: #f3f3f3;
}

.news__box {
  position: relative;
}

.news__border {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0.0625rem;
  background-color: #C4C4C4;
}

.box-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-news__item {
  max-height: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 368px;
          flex: 1 1 368px;
}

.box-news__img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 62%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-news__descr {
  border-radius: 0 0 8px 8px;
  background: #fff;
  padding: 32px 32px 32px 16px;
  font-weight: 700;
}

@media (min-width: 56.25em) {
  .descr {
    margin-top: 12.0625rem;
  }
}

@media (min-width: 61.9375em) {
  .header__container {
    padding-top: 4rem;
  }

  .header__container {
    padding-bottom: 3.25rem;
  }

  .header-logo__img {
    top: -0.3125rem;
  }

  .descr__title {
    margin-left: 23rem;
  }
}

@media (min-width: 70.625em) {
  .header__logo {
    width: 3.5rem;
  }

  .top-project {
    -webkit-column-gap: 7rem;
       -moz-column-gap: 7rem;
            column-gap: 7rem;
  }

  .top-project {
    margin-bottom: 6rem;
  }

  .top-project__wrapper {
    row-gap: 6rem;
  }

  .bar-event__title {
    margin-bottom: 2rem;
  }

  .left-bar {
    row-gap: 6rem;
  }

  .left-bar__title {
    margin-bottom: 0.75rem;
  }

  .tags__title {
    margin-bottom: 2rem;
  }

  .share__title {
    margin-bottom: 2rem;
  }
}

@media (min-width: 71.875em) {
  .menu__list {
    -webkit-column-gap: 3.5rem;
       -moz-column-gap: 3.5rem;
            column-gap: 3.5rem;
  }

  .footer__social {
    margin-top: 3.4375rem;
  }
}

@media (min-width: 73.75em) {
  .title {
    font-size: 2.5rem;
  }

  .title_flex {
    gap: 5.1875rem;
  }

  .descr__title {
    font-size: 4rem;
  }

  .footer__container {
    padding-top: 5rem;
  }

  .footer__container {
    padding-bottom: 5rem;
  }

  .footer__nav-wrapper {
    margin-bottom: 2rem;
  }

  .footer__nav {
    row-gap: 0.75rem;
  }

  .footer__europe-img {
    margin-bottom: 1.4375rem;
  }

  .project__bottom {
    padding-bottom: 5rem;
  }

  .event-info {
    row-gap: 1.5rem;
  }

  .content {
    font-size: 1.25rem;
  }

  .content__box:not(:nth-last-child(-n+2)) {
    margin-bottom: 4rem;
  }

  .content h4 {
    font-size: 1.5rem;
  }

  .content h4 {
    margin-bottom: 2.125rem;
  }

  .content p:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .content ul {
    margin-bottom: 1.5rem;
  }

  .content blockquote {
    font-size: 2rem;
  }

  .content blockquote {
    margin-top: 2.5rem;
  }

  .content blockquote {
    margin-bottom: 2rem;
  }

  .content ol {
    margin-bottom: 1.5rem;
  }

  .content__share {
    margin-top: 2.0625rem;
  }

  .content__share {
    padding-top: 2.0625rem;
  }

  .news__button {
    margin-top: 2.75rem;
  }

  .news__container {
    padding-top: 5rem;
  }

  .news__container {
    padding-bottom: 5rem;
  }

  .news__title {
    margin-bottom: 2.5rem;
  }

  .news__border {
    width: 73.75rem;
  }
}

@media (min-width: 70em) {
  .content ul li::before {
    left: -2.1875rem;
  }
}

@media (max-width: 50em) {
  .header-logo__img {
    top: 1.875rem;
  }
}

@media (max-width: 600px) {
  .top-project__category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2rem;
  }

  .title_flex {
    gap: 1.25rem;
  }

  .descr__title {
    font-size: 3rem;
  }

  .footer__container {
    padding-top: 1.25rem;
  }

  .footer__container {
    padding-bottom: 1.25rem;
  }

  .footer__nav-wrapper {
    margin-bottom: 0.9375rem;
  }

  .footer__nav {
    row-gap: 0.4375rem;
  }

  .footer__europe-img {
    margin-bottom: 0.9375rem;
  }

  .project__bottom {
    padding-bottom: 1.25rem;
  }

  .event-info {
    row-gap: 0.75rem;
  }

  .content {
    font-size: 1rem;
  }

  .content__box:not(:nth-last-child(-n+2)) {
    margin-bottom: 1.5625rem;
  }

  .content h4 {
    font-size: 1.25rem;
  }

  .content h4 {
    margin-bottom: 0.9375rem;
  }

  .content p:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .content ul {
    margin-bottom: 0.9375rem;
  }

  .content blockquote {
    font-size: 1.75rem;
  }

  .content blockquote {
    margin-top: 0.9375rem;
  }

  .content blockquote {
    margin-bottom: 1.25rem;
  }

  .content ol {
    margin-bottom: 0.9375rem;
  }

  .content__share {
    margin-top: 0.9375rem;
  }

  .content__share {
    padding-top: 0.9375rem;
  }

  .news__button {
    margin-top: 1.25rem;
  }

  .news__container {
    padding-top: 1.25rem;
  }

  .news__container {
    padding-bottom: 1.25rem;
  }

  .news__title {
    margin-bottom: 0.9375rem;
  }

  .news__border {
    width: 20rem;
  }
}

@media (max-width: 61.99875em) {
  .project__left-bar {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 31%;
            flex: 1 1 31%;
    min-width: unset;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .left-bar {
    margin-left: -7px;
  }

  .bar-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bar-news__title {
    text-align: start;
  }
}

@media (max-width: 61.9375em) {
  .content ul li::before {
    left: -1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    padding-top: 1.25rem;
  }

  .header__container {
    padding-bottom: 1.875rem;
  }

  .header__top_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.4s ease 0s;
    -o-transition: left 0.4s ease 0s;
    transition: left 0.4s ease 0s;
    z-index: 4;
  }

  .menu-open .menu__body {
    left: 0;
    padding-top: 75px;
    overflow-y: auto;
  }

  .menu-open .menu__body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.6);
    z-index: -1;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__text {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    margin-bottom: 15px;
  }

  .footer__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 212px;
            flex: 0 1 212px;
  }

  .footer__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }

  .wrapper {
    background: url("../img/news-sing_bg.jpg") center 0 no-repeat;
  }

  .top-project {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .top-project__wrapper {
    row-gap: 2.5rem;
  }

  .project__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .project__content {
    min-width: unset;
  }

  .bar-event {
    margin-bottom: 15px;
  }

  .bar-event__title {
    margin-bottom: 0.9375rem;
  }

  .event-info {
    padding-left: 0;
  }

  .left-bar {
    row-gap: 1.875rem;
  }

  .left-bar {
    margin-left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .left-bar__news-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    min-width: 280px;
  }

  .left-bar__title {
    margin-bottom: 0.3125rem;
  }

  .left-bar__tags-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }

  .left-bar__share {
    margin-top: 40px;
  }

  .bar-news {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .tags__title {
    margin-bottom: 0.9375rem;
  }

  .share__title {
    margin-bottom: 0.9375rem;
  }

  .content ul li {
    margin-left: 37px;
  }

  .content ul li::before {
    left: -35px;
  }

  .content blockquote {
    margin-left: 55px;
  }

  .content ol {
    margin-left: 37px;
  }

  .content__share {
    margin-bottom: 30px;
  }
}

@media (max-width: 47.9375em) {
  .header__logo {
    width: 2.5rem;
  }

  .footer__social {
    margin-top: 0.9375rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__list {
    font-size: 1.25rem;
  }

  .menu__list {
    row-gap: 0.5rem;
  }

  .footer__img {
    max-width: 15.625rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 42.5em) {
  .top-project__img {
    margin-left: -11.25rem;
  }
}

@media (max-width: 43.75em) {
  .descr {
    margin-top: 6.25rem;
  }

  .box-news {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .box-news__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }

  .box-news__descr {
    padding: 16px;
  }
}

@media (max-width: 43.75em) and (max-width: 20em) {
  .box-news__item {
    max-height: 16.875rem;
  }
}

@media (max-width: 37.5em) {
  .top-project__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .top-project__descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 10px;
  }
}

@media (max-width: 29.99875em) {
  .title__decor {
    display: none;
  }

  .footer__text {
    line-height: 1.5;
  }

  .footer__items {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__img {
    display: none;
  }

  .project {
    min-height: 25rem;
  }

  .top-project__wrapper {
    margin-top: 1.875rem;
    row-gap: 60px;
  }

  .top-project__img {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    min-width: unset;
    width: 120px;
    margin-left: -30px;
  }

  .top-project__descr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .left-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .box-news__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-height: 250px;
  }
}

@media (max-width: 29.9375em) {
  .top-project {
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 20em) and (max-width: 73.75em) {
@supports (font-size: clamp( 2rem , 1.8139534884rem  +  0.9302325581vw , 2.5rem )) {
    .title {
      font-size: clamp( 2rem , 1.8139534884rem  +  0.9302325581vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.8139534884rem  +  0.9302325581vw , 2.5rem )) {
    .title {
      font-size: calc(2rem + 0.5 * (100vw - 20rem) / 53.75);
    }
}

@supports (gap: clamp( 1.25rem , -0.2151162791rem  +  7.3255813953vw , 5.1875rem )) {
    .title_flex {
      gap: clamp( 1.25rem , -0.2151162791rem  +  7.3255813953vw , 5.1875rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.2151162791rem  +  7.3255813953vw , 5.1875rem )) {
    .title_flex {
      gap: calc(1.25rem + 3.9375 * (100vw - 20rem) / 53.75);
    }
}

@supports (font-size: clamp( 3rem , 2.6279069767rem  +  1.8604651163vw , 4rem )) {
    .descr__title {
      font-size: clamp( 3rem , 2.6279069767rem  +  1.8604651163vw , 4rem );
    }
}

@supports not (font-size: clamp( 3rem , 2.6279069767rem  +  1.8604651163vw , 4rem )) {
    .descr__title {
      font-size: calc(3rem + 1 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem )) {
    .footer__container {
      padding-top: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem )) {
    .footer__container {
      padding-top: calc(1.25rem + 3.75 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem )) {
    .footer__container {
      padding-bottom: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem )) {
    .footer__container {
      padding-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 53.75);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5421511628rem  +  1.976744186vw , 2rem )) {
    .footer__nav-wrapper {
      margin-bottom: clamp( 0.9375rem , 0.5421511628rem  +  1.976744186vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5421511628rem  +  1.976744186vw , 2rem )) {
    .footer__nav-wrapper {
      margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 53.75);
    }
}

@supports (row-gap: clamp( 0.4375rem , 0.3212209302rem  +  0.5813953488vw , 0.75rem )) {
    .footer__nav {
      row-gap: clamp( 0.4375rem , 0.3212209302rem  +  0.5813953488vw , 0.75rem );
    }
}

@supports not (row-gap: clamp( 0.4375rem , 0.3212209302rem  +  0.5813953488vw , 0.75rem )) {
    .footer__nav {
      row-gap: calc(0.4375rem + 0.3125 * (100vw - 20rem) / 53.75);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7514534884rem  +  0.9302325581vw , 1.4375rem )) {
    .footer__europe-img {
      margin-bottom: clamp( 0.9375rem , 0.7514534884rem  +  0.9302325581vw , 1.4375rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7514534884rem  +  0.9302325581vw , 1.4375rem )) {
    .footer__europe-img {
      margin-bottom: calc(0.9375rem + 0.5 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem )) {
    .project__bottom {
      padding-bottom: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem )) {
    .project__bottom {
      padding-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 53.75);
    }
}

@supports (row-gap: clamp( 0.75rem , 0.4709302326rem  +  1.3953488372vw , 1.5rem )) {
    .event-info {
      row-gap: clamp( 0.75rem , 0.4709302326rem  +  1.3953488372vw , 1.5rem );
    }
}

@supports not (row-gap: clamp( 0.75rem , 0.4709302326rem  +  1.3953488372vw , 1.5rem )) {
    .event-info {
      row-gap: calc(0.75rem + 0.75 * (100vw - 20rem) / 53.75);
    }
}

@supports (font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem )) {
    .content {
      font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9069767442rem  +  0.4651162791vw , 1.25rem )) {
    .content {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 53.75);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.6555232558rem  +  4.5348837209vw , 4rem )) {
    .content__box:not(:nth-last-child(-n+2)) {
      margin-bottom: clamp( 1.5625rem , 0.6555232558rem  +  4.5348837209vw , 4rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.6555232558rem  +  4.5348837209vw , 4rem )) {
    .content__box:not(:nth-last-child(-n+2)) {
      margin-bottom: calc(1.5625rem + 2.4375 * (100vw - 20rem) / 53.75);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1569767442rem  +  0.4651162791vw , 1.5rem )) {
    .content h4 {
      font-size: clamp( 1.25rem , 1.1569767442rem  +  0.4651162791vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1569767442rem  +  0.4651162791vw , 1.5rem )) {
    .content h4 {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 53.75);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.4956395349rem  +  2.2093023256vw , 2.125rem )) {
    .content h4 {
      margin-bottom: clamp( 0.9375rem , 0.4956395349rem  +  2.2093023256vw , 2.125rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.4956395349rem  +  2.2093023256vw , 2.125rem )) {
    .content h4 {
      margin-bottom: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 53.75);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7281976744rem  +  1.0465116279vw , 1.5rem )) {
    .content p:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.7281976744rem  +  1.0465116279vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7281976744rem  +  1.0465116279vw , 1.5rem )) {
    .content p:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 53.75);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7281976744rem  +  1.0465116279vw , 1.5rem )) {
    .content ul {
      margin-bottom: clamp( 0.9375rem , 0.7281976744rem  +  1.0465116279vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7281976744rem  +  1.0465116279vw , 1.5rem )) {
    .content ul {
      margin-bottom: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 53.75);
    }
}

@supports (font-size: clamp( 1.75rem , 1.6569767442rem  +  0.4651162791vw , 2rem )) {
    .content blockquote {
      font-size: clamp( 1.75rem , 1.6569767442rem  +  0.4651162791vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.6569767442rem  +  0.4651162791vw , 2rem )) {
    .content blockquote {
      font-size: calc(1.75rem + 0.25 * (100vw - 20rem) / 53.75);
    }
}

@supports (margin-top: clamp( 0.9375rem , 0.3561046512rem  +  2.9069767442vw , 2.5rem )) {
    .content blockquote {
      margin-top: clamp( 0.9375rem , 0.3561046512rem  +  2.9069767442vw , 2.5rem );
    }
}

@supports not (margin-top: clamp( 0.9375rem , 0.3561046512rem  +  2.9069767442vw , 2.5rem )) {
    .content blockquote {
      margin-top: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 53.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.9709302326rem  +  1.3953488372vw , 2rem )) {
    .content blockquote {
      margin-bottom: clamp( 1.25rem , 0.9709302326rem  +  1.3953488372vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.9709302326rem  +  1.3953488372vw , 2rem )) {
    .content blockquote {
      margin-bottom: calc(1.25rem + 0.75 * (100vw - 20rem) / 53.75);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7281976744rem  +  1.0465116279vw , 1.5rem )) {
    .content ol {
      margin-bottom: clamp( 0.9375rem , 0.7281976744rem  +  1.0465116279vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7281976744rem  +  1.0465116279vw , 1.5rem )) {
    .content ol {
      margin-bottom: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 53.75);
    }
}

@supports (margin-top: clamp( 0.9375rem , 0.5188953488rem  +  2.0930232558vw , 2.0625rem )) {
    .content__share {
      margin-top: clamp( 0.9375rem , 0.5188953488rem  +  2.0930232558vw , 2.0625rem );
    }
}

@supports not (margin-top: clamp( 0.9375rem , 0.5188953488rem  +  2.0930232558vw , 2.0625rem )) {
    .content__share {
      margin-top: calc(0.9375rem + 1.125 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.5188953488rem  +  2.0930232558vw , 2.0625rem )) {
    .content__share {
      padding-top: clamp( 0.9375rem , 0.5188953488rem  +  2.0930232558vw , 2.0625rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.5188953488rem  +  2.0930232558vw , 2.0625rem )) {
    .content__share {
      padding-top: calc(0.9375rem + 1.125 * (100vw - 20rem) / 53.75);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.6918604651rem  +  2.7906976744vw , 2.75rem )) {
    .news__button {
      margin-top: clamp( 1.25rem , 0.6918604651rem  +  2.7906976744vw , 2.75rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.6918604651rem  +  2.7906976744vw , 2.75rem )) {
    .news__button {
      margin-top: calc(1.25rem + 1.5 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem )) {
    .news__container {
      padding-top: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem )) {
    .news__container {
      padding-top: calc(1.25rem + 3.75 * (100vw - 20rem) / 53.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem )) {
    .news__container {
      padding-bottom: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.1453488372rem  +  6.976744186vw , 5rem )) {
    .news__container {
      padding-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 53.75);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.3561046512rem  +  2.9069767442vw , 2.5rem )) {
    .news__title {
      margin-bottom: clamp( 0.9375rem , 0.3561046512rem  +  2.9069767442vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.3561046512rem  +  2.9069767442vw , 2.5rem )) {
    .news__title {
      margin-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 53.75);
    }
}

@supports (width: clamp( 20rem , 0.0000000625rem  +  100vw , 73.75rem )) {
    .news__border {
      width: clamp( 20rem , 0.0000000625rem  +  100vw , 73.75rem );
    }
}

@supports not (width: clamp( 20rem , 0.0000000625rem  +  100vw , 73.75rem )) {
    .news__border {
      width: calc(20rem + 53.75 * (100vw - 20rem) / 53.75);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 61.9375em) {
@supports (padding-top: clamp( 1.25rem , -8.2197560757rem  +  19.7291722715vw , 4rem )) {
    .header__container {
      padding-top: clamp( 1.25rem , -8.2197560757rem  +  19.7291722715vw , 4rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -8.2197560757rem  +  19.7291722715vw , 4rem )) {
    .header__container {
      padding-top: calc(1.25rem + 2.75 * (100vw - 47.99875rem) / 13.93875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -2.8598780378rem  +  9.8645861358vw , 3.25rem )) {
    .header__container {
      padding-bottom: clamp( 1.875rem , -2.8598780378rem  +  9.8645861358vw , 3.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -2.8598780378rem  +  9.8645861358vw , 3.25rem )) {
    .header__container {
      padding-bottom: calc(1.875rem + 1.375 * (100vw - 47.99875rem) / 13.93875);
    }
}
}

@media (min-width: 47.9375em) and (max-width: 70.625em) {
@supports (width: clamp( 2.5rem , 0.3870523416rem  +  4.4077134986vw , 3.5rem )) {
    .header__logo {
      width: clamp( 2.5rem , 0.3870523416rem  +  4.4077134986vw , 3.5rem );
    }
}

@supports not (width: clamp( 2.5rem , 0.3870523416rem  +  4.4077134986vw , 3.5rem )) {
    .header__logo {
      width: calc(2.5rem + 1 * (100vw - 47.9375rem) / 22.6875);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 71.875em) {
@supports ((-moz-column-gap: clamp( 1.25rem , -3.2732055913rem  +  9.4235903879vw , 3.5rem )) or (column-gap: clamp( 1.25rem , -3.2732055913rem  +  9.4235903879vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , -3.2732055913rem  +  9.4235903879vw , 3.5rem );
         -moz-column-gap: clamp( 1.25rem , -3.2732055913rem  +  9.4235903879vw , 3.5rem );
              column-gap: clamp( 1.25rem , -3.2732055913rem  +  9.4235903879vw , 3.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -3.2732055913rem  +  9.4235903879vw , 3.5rem )) or (column-gap: clamp( 1.25rem , -3.2732055913rem  +  9.4235903879vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 2.25 * (100vw - 47.99875rem) / 23.87625);
         -moz-column-gap: calc(1.25rem + 2.25 * (100vw - 47.99875rem) / 23.87625);
              column-gap: calc(1.25rem + 2.25 * (100vw - 47.99875rem) / 23.87625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 73.75em) {
  .menu__list {
    font-size: 1.75rem;
  }

  .menu__list {
    row-gap: 0.625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 73.75em) {
@supports (font-size: clamp( 1.25rem , 1.0639534884rem  +  0.9302325581vw , 1.75rem )) {
    .menu__list {
      font-size: clamp( 1.25rem , 1.0639534884rem  +  0.9302325581vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0639534884rem  +  0.9302325581vw , 1.75rem )) {
    .menu__list {
      font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 53.75);
    }
}

@supports (row-gap: clamp( 0.5rem , 0.4534883721rem  +  0.2325581395vw , 0.625rem )) {
    .menu__list {
      row-gap: clamp( 0.5rem , 0.4534883721rem  +  0.2325581395vw , 0.625rem );
    }
}

@supports not (row-gap: clamp( 0.5rem , 0.4534883721rem  +  0.2325581395vw , 0.625rem )) {
    .menu__list {
      row-gap: calc(0.5rem + 0.125 * (100vw - 20rem) / 53.75);
    }
}
}

@media (min-width: 50em) and (max-width: 61.9375em) {
@supports (top: clamp( -0.3125rem , 11.0373036649rem  +  -18.3246073298vw , 1.875rem )) {
    .header-logo__img {
      top: clamp( -0.3125rem , 11.0373036649rem  +  -18.3246073298vw , 1.875rem );
    }
}

@supports not (top: clamp( -0.3125rem , 11.0373036649rem  +  -18.3246073298vw , 1.875rem )) {
    .header-logo__img {
      top: calc(1.875rem + -2.1875 * (100vw - 50rem) / 11.9375);
    }
}
}

@media (min-width: 43.75em) and (max-width: 56.25em) {
@supports (margin-top: clamp( 6.25rem , -14.09375rem  +  46.5vw , 12.0625rem )) {
    .descr {
      margin-top: clamp( 6.25rem , -14.09375rem  +  46.5vw , 12.0625rem );
    }
}

@supports not (margin-top: clamp( 6.25rem , -14.09375rem  +  46.5vw , 12.0625rem )) {
    .descr {
      margin-top: calc(6.25rem + 5.8125 * (100vw - 43.75rem) / 12.5);
    }
}
}

@media (min-width: 20em) and (max-width: 61.9375em) {
@supports (margin-left: clamp( 3.125rem , -6.353390462rem  +  47.39195231vw , 23rem )) {
    .descr__title {
      margin-left: clamp( 3.125rem , -6.353390462rem  +  47.39195231vw , 23rem );
    }
}

@supports not (margin-left: clamp( 3.125rem , -6.353390462rem  +  47.39195231vw , 23rem )) {
    .descr__title {
      margin-left: calc(3.125rem + 19.875 * (100vw - 20rem) / 41.9375);
    }
}
}

@media (min-width: 47.9375em) and (max-width: 71.875em) {
@supports (margin-top: clamp( 0.9375rem , -4.0690274151rem  +  10.4438642298vw , 3.4375rem )) {
    .footer__social {
      margin-top: clamp( 0.9375rem , -4.0690274151rem  +  10.4438642298vw , 3.4375rem );
    }
}

@supports not (margin-top: clamp( 0.9375rem , -4.0690274151rem  +  10.4438642298vw , 3.4375rem )) {
    .footer__social {
      margin-top: calc(0.9375rem + 2.5 * (100vw - 47.9375rem) / 23.9375);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 47.9375em) {
  .footer__img {
    max-width: 22.625rem;
  }

  .top-project__img {
    margin-left: -5rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.9375em) {
@supports (max-width: clamp( 15.625rem , 10.6138143177rem  +  25.0559284116vw , 22.625rem )) {
    .footer__img {
      max-width: clamp( 15.625rem , 10.6138143177rem  +  25.0559284116vw , 22.625rem );
    }
}

@supports not (max-width: clamp( 15.625rem , 10.6138143177rem  +  25.0559284116vw , 22.625rem )) {
    .footer__img {
      max-width: calc(15.625rem + 7 * (100vw - 20rem) / 27.9375);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 70.625em) {
@supports ((-moz-column-gap: clamp( 1.25rem , -10.9479034307rem  +  25.4129606099vw , 7rem )) or (column-gap: clamp( 1.25rem , -10.9479034307rem  +  25.4129606099vw , 7rem ))) {
    .top-project {
      -webkit-column-gap: clamp( 1.25rem , -10.9479034307rem  +  25.4129606099vw , 7rem );
         -moz-column-gap: clamp( 1.25rem , -10.9479034307rem  +  25.4129606099vw , 7rem );
              column-gap: clamp( 1.25rem , -10.9479034307rem  +  25.4129606099vw , 7rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -10.9479034307rem  +  25.4129606099vw , 7rem )) or (column-gap: clamp( 1.25rem , -10.9479034307rem  +  25.4129606099vw , 7rem ))) {
    .top-project {
      -webkit-column-gap: calc(1.25rem + 5.75 * (100vw - 47.99875rem) / 22.62625);
         -moz-column-gap: calc(1.25rem + 5.75 * (100vw - 47.99875rem) / 22.62625);
              column-gap: calc(1.25rem + 5.75 * (100vw - 47.99875rem) / 22.62625);
    }
}

@supports (row-gap: clamp( 2.5rem , -4.9248107839rem  +  15.4687586321vw , 6rem )) {
    .top-project__wrapper {
      row-gap: clamp( 2.5rem , -4.9248107839rem  +  15.4687586321vw , 6rem );
    }
}

@supports not (row-gap: clamp( 2.5rem , -4.9248107839rem  +  15.4687586321vw , 6rem )) {
    .top-project__wrapper {
      row-gap: calc(2.5rem + 3.5 * (100vw - 47.99875rem) / 22.62625);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , -1.3164604166rem  +  4.6958731562vw , 2rem )) {
    .bar-event__title {
      margin-bottom: clamp( 0.9375rem , -1.3164604166rem  +  4.6958731562vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , -1.3164604166rem  +  4.6958731562vw , 2rem )) {
    .bar-event__title {
      margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 47.99875rem) / 22.62625);
    }
}

@supports (row-gap: clamp( 1.875rem , -6.8756698525rem  +  18.2310369593vw , 6rem )) {
    .left-bar {
      row-gap: clamp( 1.875rem , -6.8756698525rem  +  18.2310369593vw , 6rem );
    }
}

@supports not (row-gap: clamp( 1.875rem , -6.8756698525rem  +  18.2310369593vw , 6rem )) {
    .left-bar {
      row-gap: calc(1.875rem + 4.125 * (100vw - 47.99875rem) / 22.62625);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , -0.615601348rem  +  1.933594829vw , 0.75rem )) {
    .left-bar__title {
      margin-bottom: clamp( 0.3125rem , -0.615601348rem  +  1.933594829vw , 0.75rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , -0.615601348rem  +  1.933594829vw , 0.75rem )) {
    .left-bar__title {
      margin-bottom: calc(0.3125rem + 0.4375 * (100vw - 47.99875rem) / 22.62625);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , -1.3164604166rem  +  4.6958731562vw , 2rem )) {
    .tags__title {
      margin-bottom: clamp( 0.9375rem , -1.3164604166rem  +  4.6958731562vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , -1.3164604166rem  +  4.6958731562vw , 2rem )) {
    .tags__title {
      margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 47.99875rem) / 22.62625);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , -1.3164604166rem  +  4.6958731562vw , 2rem )) {
    .share__title {
      margin-bottom: clamp( 0.9375rem , -1.3164604166rem  +  4.6958731562vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , -1.3164604166rem  +  4.6958731562vw , 2rem )) {
    .share__title {
      margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 47.99875rem) / 22.62625);
    }
}
}

@media (min-width: 29.9375em) and (max-width: 70.625em) {
@supports (margin-bottom: clamp( 1.25rem , -2.2450076805rem  +  11.6743471582vw , 6rem )) {
    .top-project {
      margin-bottom: clamp( 1.25rem , -2.2450076805rem  +  11.6743471582vw , 6rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -2.2450076805rem  +  11.6743471582vw , 6rem )) {
    .top-project {
      margin-bottom: calc(1.25rem + 4.75 * (100vw - 29.9375rem) / 40.6875);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 42.5em) and (max-width: 47.9375em) {
@supports (margin-left: clamp( -11.25rem , -60.1005747126rem  +  114.9425287356vw , -5rem )) {
    .top-project__img {
      margin-left: clamp( -11.25rem , -60.1005747126rem  +  114.9425287356vw , -5rem );
    }
}

@supports not (margin-left: clamp( -11.25rem , -60.1005747126rem  +  114.9425287356vw , -5rem )) {
    .top-project__img {
      margin-left: calc(-11.25rem + 6.25 * (100vw - 42.5rem) / 5.4375);
    }
}
}

@media (min-width: 61.9375em) and (max-width: 70em) {
@supports (left: clamp( -2.1875rem , 5.9520348837rem  +  -11.6279069767vw , -1.25rem )) {
    .content ul li::before {
      left: clamp( -2.1875rem , 5.9520348837rem  +  -11.6279069767vw , -1.25rem );
    }
}

@supports not (left: clamp( -2.1875rem , 5.9520348837rem  +  -11.6279069767vw , -1.25rem )) {
    .content ul li::before {
      left: calc(-1.25rem + -0.9375 * (100vw - 61.9375rem) / 8.0625);
    }
}
}

@media (max-width: 43.75em) and (min-width: 73.75em) {
  .box-news__item {
    max-height: 20rem;
  }
}

@media (max-width: 43.75em) and (min-width: 20em) and (max-width: 73.75em) {
@supports (max-height: clamp( 16.875rem , 15.7122093023rem  +  5.8139534884vw , 20rem )) {
    .box-news__item {
      max-height: clamp( 16.875rem , 15.7122093023rem  +  5.8139534884vw , 20rem );
    }
}

@supports not (max-height: clamp( 16.875rem , 15.7122093023rem  +  5.8139534884vw , 20rem )) {
    .box-news__item {
      max-height: calc(16.875rem + 3.125 * (100vw - 20rem) / 53.75);
    }
}
}