@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;

500;600;700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  background-color: #e6e6e6;
  color: #000;
  line-height: 1.3;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #373737;
  color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.menu-open .menu__body {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 100vh;
  width: 300px;
  top: 47px;
  right: 0;
  bottom: 0;
  opacity: 1;
  visibility: visible;
  background-color: #373737;
}

.menu-open .menu__body .menu__list {
  padding-top: 20px;
  font-size: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #373737;
  color: #fff;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts {
  gap: 22px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 15px;
}

.footer__links {
  gap: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  position: relative;
  margin-left: 30px;
}

.footer__link::after {
  content: url(../img/minus.svg);
  position: absolute;
  color: #fff;
  top: 0;
  left: -30px;
}

.footer__descr {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__descr p:not(:last-child) {
  margin-bottom: 7px;
}

.footer__bottom {
  text-align: center;
}

.footer__bottom p {
  display: inline-block;
  padding-top: 5px;
  position: relative;
}

.footer__bottom p::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -20px;
  right: -20px;
  height: 2px;
  background-color: #fff;
}

main {
  padding-top: 60px;
}

@-webkit-keyframes shadow-shake {
  0%, 100% {
    -webkit-box-shadow: 5px 3px 2px 1px #7c7c7c;
            box-shadow: 5px 3px 2px 1px #7c7c7c;
  }

  50% {
    -webkit-box-shadow: 9px 5px 6px 2px #7c7c7c;
            box-shadow: 9px 5px 6px 2px #7c7c7c;
  }
}

@keyframes shadow-shake {
  0%, 100% {
    -webkit-box-shadow: 5px 3px 2px 1px #7c7c7c;
            box-shadow: 5px 3px 2px 1px #7c7c7c;
  }

  50% {
    -webkit-box-shadow: 9px 5px 6px 2px #7c7c7c;
            box-shadow: 9px 5px 6px 2px #7c7c7c;
  }
}

@-webkit-keyframes line-slide-in {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}

@keyframes line-slide-in {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10% {
    -webkit-transform: translateX(-2px) rotate(-10deg);
            transform: translateX(-2px) rotate(-10deg);
  }

  20% {
    -webkit-transform: translateX(2px) rotate(10deg);
            transform: translateX(2px) rotate(10deg);
  }

  30% {
    -webkit-transform: translateX(-2px) rotate(-10deg);
            transform: translateX(-2px) rotate(-10deg);
  }

  40% {
    -webkit-transform: translateX(2px) rotate(10deg);
            transform: translateX(2px) rotate(10deg);
  }

  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10% {
    -webkit-transform: translateX(-2px) rotate(-10deg);
            transform: translateX(-2px) rotate(-10deg);
  }

  20% {
    -webkit-transform: translateX(2px) rotate(10deg);
            transform: translateX(2px) rotate(10deg);
  }

  30% {
    -webkit-transform: translateX(-2px) rotate(-10deg);
            transform: translateX(-2px) rotate(-10deg);
  }

  40% {
    -webkit-transform: translateX(2px) rotate(10deg);
            transform: translateX(2px) rotate(10deg);
  }

  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.hero__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}

.hero__top::after {
  content: "";
  position: absolute;
  width: 10000%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -10000px;
  right: -10000px;
  height: 200px;
  background-color: #373737;
  z-index: -1;
}

.hero__title {
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 7px;
}

.hero__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-animation: line-slide-in 5s cubic-bezier(1, 1, 1, 1) infinite;
          animation: line-slide-in 5s cubic-bezier(1, 1, 1, 1) infinite;
}

.hero__title_box {
  padding: 30px 20px 20px 20px;
  border-radius: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background-color: #fff;
  height: -webkit-fill-available;
}

.hero__photo {
  height: 350px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  border-radius: 10px;
}

.hero__photo img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23%;
          flex: 0 1 23%;
  max-width: 23%;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px 8px -3px #373737;
  box-shadow: 6px 6px 8px -3px #373737;
}

.hero__card a {
  width: 100%;
}

.hero__card img {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  max-height: 300px;
}

.hero__card:has(img) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__card-title {
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.about {
  padding-inline: 15px;
}

.about__container {
  position: relative;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.about__container::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: calc(100% + 30px);
  top: 0;
  left: 0;
  width: 10000px;
  z-index: -1;
  border-radius: 10px;
}

.about__title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  min-width: 20%;
}

.about__title {
  font-weight: 600;
}

.about__title-link {
  text-align: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  text-transform: uppercase;
  border: 1px solid #373737;
  -webkit-animation: shadow-shake 2.5s infinite;
          animation: shadow-shake 2.5s infinite;
  overflow: hidden;
  position: relative;
}

.about__text {
  text-indent: 20px;
}

.about__title-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #373737;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.about__title-link:hover {
  color: #fff;
}

.about__title-link:before {
  top: 100%;
  left: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about__title-link:hover:before {
  top: -30px;
  left: -30px;
}

.about__title-link:active:before {
  background: #373737;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.questions__title {
  font-weight: 600;
  margin-bottom: 20px;
}

.question__box {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.question__title {
  gap: 15px;
  margin-bottom: 10px;
}

.question__title p {
  display: inline;
}

.question__title .question__number {
  position: relative;
  margin-right: 10px;
}

.question__title .question__number::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  bottom: -2px;
  background-color: #373737;
}

.question__text {
  font-size: 18px;
}

.shake-animation {
  -webkit-animation: shake 3s infinite;
          animation: shake 3s infinite;
}

.contacts__title {
  font-weight: 600;
  margin-bottom: 20px;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contacts__box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.contacts__box ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 18px;
}

.contacts__box ul img {
  border-radius: 25%;
  background-color: #fff;
  padding: 10px;
}

.contacts__box-text {
  text-indent: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.contacts__map {
  min-width: 320px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  padding: 15px;
  background-color: #fff;
  height: -webkit-fill-available;
}

.contacts__map img {
  max-width: 100%;
  max-height: 100%;
}

.impressum__title {
  font-weight: 600;
  margin-bottom: 20px;
}

.impressum p {
  margin-bottom: 10px;
}

.accordion {
  border-radius: 10px;
  width: 100%;
  -webkit-box-shadow: 14px 14px 25px 1px rgba(106, 106, 106, 0.3);
  box-shadow: 14px 14px 25px 1px rgba(105, 105, 105, 0.3);
}

.accordion:not(:last-child) {
  margin-bottom: 20px;
}

.question__box {
  margin-bottom: 10px;
}

.question__box.active .question__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.question__arrow {
  margin-top: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.question__title {
  padding: 5px 10px 3px 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question__title p {
  margin: 0;
}

.question__text {
  padding: 0 10px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease, opacity 0.3s ease;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.active .question__text {
  max-height: 1000px;
  /* Задайте достаточно большое значение для max-height */
  opacity: 1;
}

@media (min-width: 75em) {
  .header__logo {
    font-size: 1.5rem;
  }

  .footer {
    padding-top: 1.875rem;
  }

  .footer {
    padding-bottom: 1.875rem;
  }

  .footer__top {
    margin-bottom: 3.125rem;
  }

  .footer__logo {
    font-size: 1.75rem;
  }

  .hero {
    padding-top: 3.75rem;
  }

  .hero {
    padding-bottom: 2.5rem;
  }

  .hero__title {
    font-size: 3.125rem;
  }

  .hero__card-title {
    font-size: 1.25rem;
  }

  .about {
    padding-top: 3.75rem;
  }

  .about {
    padding-bottom: 2.5rem;
  }

  .about__title {
    font-size: 1.625rem;
  }

  .about__title-link {
    font-size: 1rem;
  }

  .about__title-link {
    padding: 0.625rem;
  }

  .questions {
    padding-top: 2.5rem;
  }

  .questions {
    padding-bottom: 2.5rem;
  }

  .questions__title {
    font-size: 1.875rem;
  }

  .question__title {
    font-size: 1.5rem;
  }

  .contacts {
    padding-top: 3.75rem;
  }

  .contacts {
    padding-bottom: 2.5rem;
  }

  .contacts__title {
    font-size: 1.875rem;
  }

  .impressum__container {
    padding-top: 3.75rem;
  }

  .impressum__container {
    padding-bottom: 3.75rem;
  }

  .impressum__title {
    font-size: 1.875rem;
  }
}

@media (max-width: 880px) {
  .hero__bot {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }

  .hero__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
    max-width: unset;
  }
}

@media (max-width: 550px) {
  .hero__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .hero__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero__photo img {
    max-height: 390px;
    width: 85%;
  }
}

@media (max-width: 25em) {
  .menu-open .menu__body {
    width: 100%;
  }

  .footer__contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: unset;
  }

  .footer__links {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: unset;
  }
}

@media (max-width: 20em) {
  .header__logo {
    font-size: 1.25rem;
  }

  .footer {
    padding-top: 1.25rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .footer__top {
    margin-bottom: 1.875rem;
  }

  .footer__logo {
    font-size: 1.25rem;
  }

  .hero {
    padding-top: 1.875rem;
  }

  .hero {
    padding-bottom: 1.25rem;
  }

  .hero__title {
    font-size: 1.875rem;
  }

  .hero__card-title {
    font-size: 1.125rem;
  }

  .about {
    padding-top: 1.875rem;
  }

  .about {
    padding-bottom: 1.25rem;
  }

  .about__title {
    font-size: 1.3125rem;
  }

  .about__title-link {
    font-size: 0.75rem;
  }

  .about__title-link {
    padding: 0.25rem;
  }

  .questions {
    padding-top: 1.875rem;
  }

  .questions {
    padding-bottom: 1.25rem;
  }

  .questions__title {
    font-size: 1.5rem;
  }

  .question__title {
    font-size: 1.375rem;
  }

  .contacts {
    padding-top: 1.875rem;
  }

  .contacts {
    padding-bottom: 1.25rem;
  }

  .contacts__title {
    font-size: 1.5rem;
  }

  .impressum__container {
    padding-top: 1.875rem;
  }

  .impressum__container {
    padding-bottom: 1.875rem;
  }

  .impressum__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 48.06125em) {
  .menu__body {
    position: absolute;
    top: 47px;
    opacity: 0;
    visibility: hidden;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 35px;
  }

  .footer__contacts {
    max-width: 50%;
  }

  .footer__links {
    max-width: 50%;
  }

  .footer__descr {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: unset;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__title_box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .contacts__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .contacts__box ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contacts__box ul a {
    gap: 15px;
  }

  .contacts__box-text {
    text-align: center;
  }

  .contacts__map {
    min-width: unset;
    padding: 10px;
  }
}

@media (max-width: 48.06125em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .hero__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .hero__card img {
    max-height: 220px;
  }

  .about__title-link {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    max-width: unset;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem )) {
    .header__logo {
      font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem )) {
    .header__logo {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .footer {
      padding-top: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .footer {
      padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .footer__top {
      margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .footer__top {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.25rem , 1.0681818182rem  +  0.9090909091vw , 1.75rem )) {
    .footer__logo {
      font-size: clamp( 1.25rem , 1.0681818182rem  +  0.9090909091vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0681818182rem  +  0.9090909091vw , 1.75rem )) {
    .footer__logo {
      font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .hero {
      padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .hero {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .hero {
      padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .hero {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .hero__title {
      font-size: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .hero__title {
      font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
    .hero__card-title {
      font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
    .hero__card-title {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .about {
      padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .about {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .about {
      padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .about {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.3125rem , 1.1988636364rem  +  0.5681818182vw , 1.625rem )) {
    .about__title {
      font-size: clamp( 1.3125rem , 1.1988636364rem  +  0.5681818182vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.3125rem , 1.1988636364rem  +  0.5681818182vw , 1.625rem )) {
    .about__title {
      font-size: calc(1.3125rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem )) {
    .about__title-link {
      font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem )) {
    .about__title-link {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding: clamp( 0.25rem , 0.1136363636rem  +  0.6818181818vw , 0.625rem )) {
    .about__title-link {
      padding: clamp( 0.25rem , 0.1136363636rem  +  0.6818181818vw , 0.625rem );
    }
}

@supports not (padding: clamp( 0.25rem , 0.1136363636rem  +  0.6818181818vw , 0.625rem )) {
    .about__title-link {
      padding: calc(0.25rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .questions {
      padding-top: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .questions {
      padding-top: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .questions {
      padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .questions {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3636363636rem  +  0.6818181818vw , 1.875rem )) {
    .questions__title {
      font-size: clamp( 1.5rem , 1.3636363636rem  +  0.6818181818vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3636363636rem  +  0.6818181818vw , 1.875rem )) {
    .questions__title {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.375rem , 1.3295454545rem  +  0.2272727273vw , 1.5rem )) {
    .question__title {
      font-size: clamp( 1.375rem , 1.3295454545rem  +  0.2272727273vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.3295454545rem  +  0.2272727273vw , 1.5rem )) {
    .question__title {
      font-size: calc(1.375rem + 0.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .contacts {
      padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .contacts {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .contacts {
      padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .contacts {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3636363636rem  +  0.6818181818vw , 1.875rem )) {
    .contacts__title {
      font-size: clamp( 1.5rem , 1.3636363636rem  +  0.6818181818vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3636363636rem  +  0.6818181818vw , 1.875rem )) {
    .contacts__title {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .impressum__container {
      padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .impressum__container {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .impressum__container {
      padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .impressum__container {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3636363636rem  +  0.6818181818vw , 1.875rem )) {
    .impressum__title {
      font-size: clamp( 1.5rem , 1.3636363636rem  +  0.6818181818vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3636363636rem  +  0.6818181818vw , 1.875rem )) {
    .impressum__title {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 55);
    }
}
}